language: java

branches:
  only:
  - development
  - master

sudo: required

dist: trusty

before_install:
  # CommandBox Keys
  - sudo apt-key adv --keyserver keys.gnupg.net --recv 6DA70622
  - sudo echo "deb http://downloads.ortussolutions.com/debs/noarch /" | sudo tee -a
    /etc/apt/sources.list.d/commandbox.list

install:
  # Install Commandbox
  - sudo apt-get update && sudo apt-get --assume-yes install commandbox
  # Test that the box binary is available and ready for our tests
  - box version
  - box config set endpoints.forgebox.APIToken=$FORGEBOX_API_TOKEN > /dev/null
  # Setup for our tests
  - mkdir tests/results
  - sudo chmod -R 775 tests/results

script:
  - sudo ant -DisTravis=true -Dbuild.number=$TRAVIS_BUILD_NUMBER -f workbench/build.xml
  
before_deploy:
  - mkdir s3deploy
  - cp -r ./artifacts/cbi18n/* ./s3deploy/
  - rm -f ./s3deploy/box-repo.json

deploy:
  on:
    branch: 
      - master
  skip_cleanup: true
  provider: s3
  #AWS Credentials need to be set in Travis
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_ACCESS_SECRET
  bucket: "downloads.ortussolutions.com"
  local-dir: s3deploy
  upload-dir: ortussolutions/coldbox-modules/cbi18n
  acl: public_read

after_deploy:
  - cd $TRAVIS_BUILD_DIR/build && box forgebox publish
